/* Monlam ouchan 3 -400-normal */
@font-face {
  font-family: 'Monlam OuChan 3';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/MonlamUniOuChan5.ttf) format('ttf'), url(./files/MonlamUniOuChan5.ttf) format('ttf');
}